body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #1c1616;
}

header {
  background: #000000;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 20px;
}

img {
  max-width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;

  max-width: 100%;
  margin-bottom: 40px;
  background: #070707;
  color: antiquewhite;
  padding: 20px;
  border-radius: 8px;
}

#services >div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  color: aqua;
}

#services div {
  flex: 1 1 calc(33.333% - 20px); 
  justify-content: center;
  background-color: green;
  margin: 1px;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px; /* oder gewünschte Höhe */
  text-align: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

form label {
  margin: 12px 0 4px 0;
}

form input, form textarea {
  padding: 6px;
  border: 1px solid #bbb;
  border-radius: 5px;
}

form button {
  margin-top: 12px;
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 16px;
}
