body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgreen;
    border-radius: 1.5rem;
}

.logo {
    height: 5rem;
}

.toppic {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.toppic a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.alpen {
    margin: 0;
    padding: 0;
}

.frische {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0.5rem;
    font-size: 1rem;
}

li a {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    background-color: beige;
    border-radius: 0.5rem;
}

 li a:hover {
    text-decoration: none;
    background-color: rgb(217, 217, 184);
 }
 /* Main */


 main {
    margin-top: 1.5rem;
 }

 .mainw {
    border: 4px solid grey;
    border-radius: 1.5rem;
    text-align: center;
 }
 .window {
    border: 4px solid grey;
    border-radius: 1.5rem;
    text-align: center;
 }

 .top1 {
    width: 100%;
 }

.tabelle {
   display: flex;
   justify-content: center; 
}

 table {
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 2rem;
  }
  th, td {
    border: none;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: lightgreen;
  }

  .window section {
    padding: 1rem;
  }

  .window section img {
    margin: 0.5rem;
    border-radius: 1rem;
  }


  /* footer */

  footer {
    background-color: rgb(114, 134, 114);
    color: white;
    border-radius: 2rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
  }

  .info {
    display: flex;
    justify-content: space-between;
  }

  .bottom  {
    display: grid;
    justify-content: center;

  }

  @media screen and (max-width: 900px) {
    nav ul {
        display: block;
    }
    nav li {
        margin: 1.5rem;
    }
    .info {
        display: block;
    }
}

/* center elements */
@media screen and (max-width: 650px) {
    header {
        display: flex;
        flex-direction: column;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
    .head {
        background-color: red;
    }
    .toppic {
        display: flex;
        flex-direction: column;
    }
    .frische {
        margin: 0;
    }
    nav li {
        margin: 0.1rem
    }
}