body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6ff;
    color: #0c002c;
  }
  .mainlogo {
    width: auto;
    max-width: 320px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  header, section, footer {
    padding: 20px;
    text-align: center;
  }
  .container {
    max-width: 800px;
    margin: auto;
  }
  .transparent-box {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
  }
  .about-image {
    width: 100%;
    max-width: 760px;
    max-height: 480px;
    height: auto;
    border-radius: 20px;
    margin: 20px auto;
    display: block;
    object-fit:contain;
  }
  button {
    background-color: #000647;
    color: #BFDFF5;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: #bfdff5;
    color: #000674;
  }
  input, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  textarea {
    height: 150px;
  }
  input:focus, textarea:focus {
    outline: none;
    border: 2px solid #949415;
    box-shadow: 0 0 5px rgba(186, 158, 20, 0.5); 
}
  .image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  .image-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }
  .two-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .impressum {
    width: 100%;
  }
 a {
    text-decoration: none;
    color: #333;
  }

  /* Impressum */
  ul {
    padding-left: 1.25rem;
    margin: 0 0 1rem 0;
  }
  ul li {
    list-style-type: disc;
    margin-bottom: 0.5rem;
    line-height: 1.6;
  }

  a p {
    translate: no;
}
  @media (max-width: 600px) {
    .container {
      width: 90%;
    }
    .image-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }
    .image-container img {
      max-width: 100px;
      height: auto;
      object-fit: cover;
    }
    .two-columns {
        display: flex;
        flex-wrap: wrap;
    }
    .two-columns div {
      width: 100%;
    }
  }