body {
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgba(73, 254, 67, 0.3);
    border-radius: 1rem;
    padding-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: black;
}

#contacts {
    margin-right: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo-header {
    width: 40%;
    min-width: 300px;
}

.about-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-text h1 p {
    width: 100%;
}

.inhalt-index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 640px;
}

.inhalt-index h2 p {
    margin-top: 0;
    margin-bottom: 0;
}

.icon-section {
    display: flex;
    justify-content: center;
}

.icon {
    background-color: red;
    margin: 0.5rem;
}


.gallery {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .gallery h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #725f5f; 
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    justify-items: center;
  }
  
  .gallery-grid img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(73, 254, 67, 0.3);
    border-radius: 1rem;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }