

body {
    border: solid black 5px;
    border-radius: 1rem;
    padding: 1rem;
    background-image: url(images/background-fruchte-20.png);
    background-size: cover;
    background-attachment: fixed;
}

header {
    border-radius: 1rem;
    padding-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.4rem;
    border: solid black 1px;
    border-radius: 0.2rem;
}

#contacts {
    margin-right: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.logo-header {
    width: 40%;
    min-width: 300px;
}

.about-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-text h1 p {
    width: 100%;
}

.inhalt-index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 640px;
}

.inhalt-index h2 p {
    margin-top: 0;
    margin-bottom: 0;
}

.inhalt-index h2 {
    color: #000000;
}

.icon-section {
    display: flex;
    justify-content: center;
}

.contact-topping {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-topping h1 {
    width: 100%;
    text-align: center;
}

.contact-topping p {
    max-width: 500px;
}

.contact {
    margin-top: 110px;
  }

  .contact-form {
    background-color: rgba(#121212);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border-color: #79eab0;
    box-shadow: 0 0 5px rgba(65, 160, 86, 0.5);
  }
  
  .contact-form button {
    display: block;
    width: 95%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #86ef8d;
    color: #000000;
  }
  
  .contact-form button:active {
    background-color: #086b4a;
  }

.gallery {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .gallery h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #725f5f; 
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    justify-items: center;
  }
  
  .gallery-grid img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #007a51;
    border-radius: 1rem;
}

footer a  {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

footer p {
    color: white;
}