body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f7;
    color: #333;
  }
  .mainlogo {
    max-width: 500px;
  }
  header, section, footer {
    padding: 20px;
    text-align: center;
  }
  .container {
    max-width: 800px;
    margin: auto;
  }
  .transparent-box {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
  }
  button {
    background-color: #d4af37;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: #b9972e;
  }
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  textarea {
    height: 150px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  .image-container img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }
  .two-columns {
    display: flex;
    justify-content: space-around;
  }
  @media (max-width: 600px) {
    .container {
      width: 90%;
    }
    .image-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    .image-container img {
      width: 100%;
      height: auto;
    }
    .two-columns {
        display: flex;
        flex-wrap: wrap;
    }
  }