body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f7;
    color: #333;
  }
  .mainlogo {
    width: 100%;
    max-width: 500px;
  }
  header, section, footer {
    padding: 20px;
    text-align: center;
  }
  .container {
    max-width: 800px;
    margin: auto;
  }
  .transparent-box {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
  }
  button {
    background-color: #503D00;
    color: #e1cc88;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: #e1cc88;
    color: #503D00;
  }
  input, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  textarea {
    height: 150px;
  }
  input:focus, textarea:focus {
    outline: none;
    border: 2px solid #949415;
    box-shadow: 0 0 5px rgba(186, 158, 20, 0.5); 
}
  .image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  .image-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }
  .two-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .impressum {
    width: 100%;
  }
 a {
    text-decoration: none;
    color: #333;
  }

  /* Impressum */
  ul {
    padding: 0;
  }
  ul li {
    list-style-type: none;
  }
  @media (max-width: 600px) {
    .container {
      width: 90%;
    }
    .image-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }
    .image-container img {
      max-width: 100px;
      height: auto;
      object-fit: cover;
    }
    .two-columns {
        display: flex;
        flex-wrap: wrap;
    }
    .two-columns div {
      width: 100%;
    }
  }