body {
    margin: 0.5rem;
    font-family: Arial, sans-serif;
    color: #f4f4f4;
    background-color: #121212;
  }
  
  header {
    background-color: #1c1c1c;
    padding: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000; 
  }
  
  header .logo {
    width: 200px;
  }

  .banner-top {
    margin-top: 110px;
    display: flex;
    justify-content:left;
  }

  .banner-top img {
    max-width: 200px;
  }
  
  main {
    padding: 1.5rem;
  }
  
  .about {
    margin-bottom: 2rem;
    text-align: center;
  }

  .about-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .about h1 {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #ff0000;
  }
  
  .about p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 640px;
  }
  
  .icon-section {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .icon {
    text-align: center;

  }

  .icon-border {
    display: inline-flex;
    border-radius: 40px;
    /* border-color: green; */
    /* border-width: 5px; */
    width: 80px;
    height: 80px;
    /* border-style: solid; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: red;
}
  
.icon img {
    width: 60px;
    height: 60px;
    /* border-radius: 40px; */
    margin-bottom: 0.5rem;
    background-color: #ff0000;
}
  
  .icon p {
    font-size: 0.9rem;
    color: #f4f4f4;
  }

  .banner-bottom {
    display: flex;
    justify-content: right;
  }

  .banner-bottom img {
    max-width: 200px;
  }

  /* Gallerie */
  .gallery {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .gallery h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ff0000; 
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    justify-items: center;
  }
  
  .gallery-grid img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  /* Kontakt */
  .contact {
    margin-top: 110px;
  }

  .contact-form {
    background-color: rgba(#121212);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #d1cfcf;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
  
  .contact-form button {
    display: block;
    width: 95%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #c10000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #00a4ea;
  }
  
  .contact-form button:active {
    background-color: #003d80;
  }

  .contact-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-info p {
    width: 100%;
    text-align: center;
  }

  .contact-info a {
    text-decoration: none;
    color: white;
  }

  footer {
    background-color: #1c1c1c;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #ccc;
    border-top: 2px solid #ff0000;
  }

  footer a {
    text-decoration: none;
    color: white;
  }

  .tel-number {
    white-space: nowrap;
  }

  .offline {
    margin-top: 120px;
    text-align: center;
  }